#container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

footer{
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: #1293d4;
  text-align: center;
}